.socialfooter {
    background-color: #8f8f8f;
    color: #fff;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 5px;
}

.socialfooter  li {
    display: inline;
    padding: 5px;
}

.homefooter {
    border: solid lightgray;
    border-bottom: none;
    border-width: 1px 0px;
    padding: 10px;
}
