.feature-panel {
    background-color: #616161;
    margin: 0;
    width:100%;
    padding: 40px;
}

.text-container {
    max-width: 40rem;
    margin: auto;
    text-shadow: 1px 1px 1px black;
}

.feature-panel h1, h2 {
    color: #EEE;
}

.feature-panel p {
    color: #EEE;
}


.panel-left {
    background-color: #34515f;
    background-image: radial-gradient(#8eacbc, #34515f);
    min-height: 700px;
}

.panel-right {
    background-color: #82ada9;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('./cssimages/BannerImages/BannerCatMonty.jpg');
    background-size: cover;
    background-position: center;
    min-height: 700px;
}

.caption {
    margin: 0px;
    padding: 0px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.carousel-image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./cssimages/BannerImages/BannerCorgi.jpg');
    background-size: cover;
    background-position: center;
}

.panel-right-image {
    height: 450px;
    margin: 0px;
}
